.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;

  input {
    width: 70%;
    height: 48px;
    margin-right: -1rem;
  }
  button {
    width: 142px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #2d26d3;
    background: #2d26d3;
    box-shadow: 0px 4px 4px 0px rgba(173, 173, 173, 0.15);
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    letter-spacing: 0.15px;
  }
}
