@import "../../App.scss";

.return-policy {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  padding: 5rem 0rem;
  align-items: center;
  gap: 10rem;

  @include mobile {
    gap: 0rem;
    padding: 30px 0px;
    flex-direction: column-reverse;
  }

  @include tablet {
    padding: 21px 13px;
  }

  .policy-title {
    width: 40%;
    color: #000;
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 300;
    // line-height: 58px;
    letter-spacing: 1.5px;
    text-transform: capitalize;

    @include mobile {
      width: 90%;
    }

    .title-section {
      @include mobile {
        font-family: Poppins;
        font-size: 19px;
        line-height: 19px;
        letter-spacing: 0.15px;
        align-items: center;
        font-weight: 500;
      }
    }
    .policy-description-section {
      .policy-description {
        width: 100%;
        color: #000;
        font-family: Poppins;
        font-size: 23px;
        font-style: normal;
        font-weight: 400;
        // line-height: 23px; /* 100% */
        letter-spacing: 0.15px;
        text-transform: capitalize;
        font-family: Poppins;
        letter-spacing: 0.15000000596046448px;
        text-align: left;

        @include mobile {
          color: #000;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0.4px;
        }

        @include tablet {
          font-size: 17px;
        }
      }
    }
  }
  .policy-image-container {
    .policy-image {
      @include mobile {
        width: 100%;
        height: 16rem;
      }
    }
  }
}
